.button-c {
    border: none;
    border-radius: 40px;
    color: white;
    background-color: rgb(43, 255, 0);
    padding: 15px 32px;
}
.button-parentese1 {
    border: none;
    border-radius: 40px;
    color: white;
    background-color: rgb(43, 255, 0);
    padding: 15px 32px;
}
.button-parentese2 {
    border: none;
    border-radius: 40px;
    color: white;
    background-color: rgb(43, 255, 0);
    padding: 15px 32px;
}
.button-barra1 {
    border: none;
    border-radius: 40px;
    color: white;
    background-color: rgb(43, 255, 0);
    padding: 15px 32px;
}
.button-8 {
    border: none;
    border-radius: 40px;
    color: white;
    background-color: rgb(43, 255, 0);
    padding: 15px 32px;
}
.button-9 {
    border: none;
    border-radius: 40px;
    color: white;
    background-color: rgb(43, 255, 0);
    padding: 15px 32px;
}
.button-9 {
    border: none;
    border-radius: 40px;
    color: white;
    background-color: rgb(43, 255, 0);
    padding: 15px 32px;
}
.button-asterisco1 {
    border: none;
    border-radius: 40px;
    color: white;
    background-color: rgb(43, 255, 0);
    padding: 15px 32px;
}
.button-4{
    border: none;
    border-radius: 40px;
    color: white;
    background-color: rgb(43, 255, 0);
    padding: 15px 32px;
}
.button-5{
    border: none;
    border-radius: 40px;
    color: white;
    background-color: rgb(43, 255, 0);
    padding: 15px 32px;
}
.button-6 {
    border: none;
    border-radius: 40px;
    color: white;
    background-color: rgb(43, 255, 0);
    padding: 15px 32px;
}
.button--{
    border: none;
    border-radius: 40px;
    color: white;
    background-color: rgb(43, 255, 0);
    padding: 15px 32px;
}
.button-1{
    border: none;
    border-radius: 40px;
    color: white;
    background-color: rgb(43, 255, 0);
    padding: 15px 32px;
}
.button-2{
    border: none;
    border-radius: 40px;
    color: white;
    background-color: rgb(43, 255, 0);
    padding: 15px 32px;
}
.button-3{
    border: none;
    border-radius: 40px;
    color: white;
    background-color: rgb(43, 255, 0);
    padding: 15px 32px;
}
.button-+ {
    border: none;
    border-radius: 40px;
    color: white;
    background-color: rgb(43, 255, 0);
    padding: 15px 32px;
}
.button-0 {
    border: none;
    border-radius: 40px;
    color: white;
    background-color: rgb(43, 255, 0);
    padding: 15px 32px;
}
.button-ponto1 {
    border: none;
    border-radius: 40px;
    color: white;
    background-color: rgb(43, 255, 0);
    padding: 15px 32px;
}
.button-mod {
    border: none;
    border-radius: 40px;
    color: white;
    background-color: rgb(43, 255, 0);
    padding: 15px 32px;
}
.button-igual1 {
    border: none;
    border-radius: 40px;
    color: white;
    background-color: rgb(43, 255, 0);
    padding: 15px 32px;
}
